<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Riot! JS App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <script type="html/list">
        <li>
            <div class="view">
                <p>{desc}</p>
            </div>
        </li>
    </script>

    <body>
        <h1>Riot! JS App</h1>

        <div class="add_items">
            <span><input type="text" id="new_item" placeholder="Add new item ..."></span>
            <span> <input type="button" id="add_item" value="add"></span>
        </div>

        <ul id="list"></div>

        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/riotjs/riot.min.js"></script>
        <script src="js/store.js"></script>
        <script src="js/model.js"></script>
        <script src="js/presenter.js"></script>
    </body>
</html>
